.search-container {
    width: 95%;
    margin: 30px auto;
    text-align: center;

    @media #{$small} {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .searchbar {
        &__input {
            border: none;
            padding: 8px;
            font-family: "Cutive Mono", cursive;

            &::placeholder {
              font-family: "Cutive Mono", cursive;
            }
        }

        &__btn {
            padding: 8px;
            border: none;
            width: 100px;
            color: #5b1279;
            background-color: #9932dabf;
            font-family: 'Black Ops One', cursive;
            cursor: pointer;
        }
    }

    .searchbar-msg {
        font-family: "Cutive Mono", cursive;
        margin: 15px auto;
        color: #5b1279;
        width: 300px;
    }
}