@import './styles/export';

.date-container {
    padding: 10px;
    background-color: #141314;
    color: #968390;
    font-family: 'Cutive Mono', monospace;

    .date-text {

    }

    .date-data {
        span {

        }
    }
}